<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>SlowPork</title>
   <link rel="icon" href="https://media.giphy.com/media/eK1o6U80dTs1VT6OtQ/giphy.gif">
   <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
   <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
   <link rel="stylesheet" href="index.css" />
   <link rel="stylesheet" href="fontawesome/css/all.min.css">
</head>
<body>
    <!-- Navbar -->
    <section id="hero">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#hero"><img style="height: 60px; width: 60px;"src="https://media.giphy.com/media/eK1o6U80dTs1VT6OtQ/giphy.gif" />SlowPork <span class="small">V_1.7</span></a>
              <div class="navbar-nav ms-auto">
                <a class="nav-item nav-link" href="https://github.com/kosac-achyut"><i class="fab fa-3x fa-github"></i></a>
              </div>
          </nav>
    </section>
    <section class="container">
        <div class="box-container_1">
            <h2>Now Enjoy Unlimited Video Chat with<strong> SlowPork</strong></h2>
            <br/>
            <p>With SlowPork you can connect with your friends any where you want, when ever you want. <strong>SlowPork</strong> is here to save you.<strong>(ツ)</strong></p>
            <div class="button-group">
                <div class="btn-my">
                    <form action="/load" method="GET">
                        <button   class="btn btn-outline-dark"><i class="fas fa-video" style="padding-right: 3px;"></i>Create Meeting</button>
                    </form>
                        
                </div>
                <div class="btn-my">
                    <form action="/load2" method="POST">
                        <input class="input-custom" name="roomID" placeholder="Enter RoomID" pattern="[0-9a-z]{10}" required />
                        <button type="submit" class="btn btn-outline-success">Join Meeing</button>
                    </form>
                </div>

                <hr style="color: black;"/>
                <div class="outro">
                    <a href="https://kosac-achyut.github.io/Achyut_Saroch_Profile/">Created by Achyut Saroch</a>
                    <br>
                    <a href="https://giphy.com/pigx3">Gif by Pigx3</a>
                </div>
            </div>
        </div>
        <div class="box-container_2">
            <div class="box-desktop">
                <div>
                    <div class="inner-box-container"><img src="https://media.giphy.com/media/YWUZ8lL3sE63gupqyG/giphy.gif" ></div>
                <div class="inner-box-container"><img src="https://media.giphy.com/media/pOTQi5hDAEkXnMn2o7/giphy.gif" ></div>
                <div class="inner-box-container"><img src="https://media.giphy.com/media/B0XL2nkDJXKEJvWX86/giphy.gif"></div>
                </div>
                <div>
                    <div class="inner-box-container"><img src="https://media.giphy.com/media/apjZNsrjUsRWyusORh/giphy.gif" ></div>
                    <div class="inner-box-container"><img src="https://media.giphy.com/media/YWUZ8lL3sE63gupqyG/giphy.gif" ></div>
                    <div class="inner-box-container"><img src="https://media.giphy.com/media/ZcaGc2Ic0hZT6GT0HH/giphy.gif" ></div>
                </div>
                <div>
                    <div class="inner-box-container"><img src="https://media.giphy.com/media/4MXO5VCghbB6QOhCrT/giphy.gif" ></div>
                    <div class="inner-box-container"><img src="https://media.giphy.com/media/9PeNVDyn0QC31KXK5W/giphy.gif" ></div>
                    <div class="inner-box-container"><img src="https://media.giphy.com/media/YWUZ8lL3sE63gupqyG/giphy.gif" ></div>
                </div>
                



            </div>
        </div>
    </section>
    
    <script src="bootstrap/js/bootstrap.min.js"></script> 
    <script>
        function func()
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", '/load'); // false for synchronous request
            xmlHttp.send( null );
        }
    </script>
</body>
</html>
